<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonIdle.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonIdle@4x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6b13d0bdad456aa6afbc7e382e1b0fd6:e85a648dfd4287b246bb5e565ddbb4f3:aaff4e52849a5e6b19d78da37a0547c3$</string>
            <key>textureFileName</key>
            <string>buttonIdle@4x.png</string>
        </dict>
    </dict>
</plist>
