<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonPress.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,1},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,38},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,75},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,112},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,149},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,186},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,223},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,260},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,297},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,334},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{341,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{426,371},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{1,408},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{86,408},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{171,408},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,35}</string>
                <key>spriteSourceSize</key>
                <string>{83,35}</string>
                <key>textureRect</key>
                <string>{{256,408},{83,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonPress.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:478e1b3ab7a9c8b6e17f0a5f4f3b88ab:1972984e3044c3438f2701d80c3ecc26:0c766c8fdc328f145d0d19b4d01b2709$</string>
            <key>textureFileName</key>
            <string>buttonPress.png</string>
        </dict>
    </dict>
</plist>
