<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonPress.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,147},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,293},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,439},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,585},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,731},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,877},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1023},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1169},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1315},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1461},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1607},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1753},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{349,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{697,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1045,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonPress.69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{346,144}</string>
                <key>spriteSourceSize</key>
                <string>{346,144}</string>
                <key>textureRect</key>
                <string>{{1393,1899},{346,144}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonPress@4x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92846269ff49b2ece5aea3c59734936f:1972984e3044c3438f2701d80c3ecc26:b700e4cabc0391130cb6d5c12a9b1ab9$</string>
            <key>textureFileName</key>
            <string>buttonPress@4x.png</string>
        </dict>
    </dict>
</plist>
