<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>buttonIdle.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,1},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,1},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,1},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,1},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,1},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,73},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,73},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,73},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,73},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,73},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,145},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,145},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,145},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,145},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,145},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,217},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,217},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,217},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,217},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,217},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,289},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,289},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,289},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,289},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,289},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,361},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,361},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,361},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,361},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,361},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,433},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,433},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,433},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,433},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,433},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,505},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,505},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,505},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,505},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,505},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,577},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,577},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,577},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,577},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,577},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,649},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,649},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,649},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,649},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,649},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,721},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,721},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,721},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,721},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,721},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,793},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,793},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,793},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,793},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,793},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.60.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,865},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.61.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,865},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.62.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,865},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.63.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,865},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.64.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,865},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.65.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{1,937},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.66.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{172,937},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.67.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{343,937},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.68.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{514,937},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>buttonIdle.69.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{169,70}</string>
                <key>spriteSourceSize</key>
                <string>{169,70}</string>
                <key>textureRect</key>
                <string>{{685,937},{169,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttonIdle@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:222355592aef8dea72bbc9b63b47c282:e85a648dfd4287b246bb5e565ddbb4f3:d88ab0de90245f25044a1e45fb38d4bb$</string>
            <key>textureFileName</key>
            <string>buttonIdle@2x.png</string>
        </dict>
    </dict>
</plist>
