<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bannerDisolveFG_03_fix.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1446,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1735,1},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1446,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1735,290},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1446,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1735,579},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1446,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1735,868},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1446,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1735,1157},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1,1446},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{290,1446},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{579,1446},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{868,1446},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bannerDisolveFG_03_fix.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{287,287}</string>
                <key>spriteSourceSize</key>
                <string>{287,287}</string>
                <key>textureRect</key>
                <string>{{1157,1446},{287,287}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>fx_BannerDisolveFG_03@4x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:de6a1926f9e3b51d82d4f3d6f11d13c7:7ab8cdd43ed70932841e05f8d1489fe6:ecd6dad349e70ba6968e64655c4dc3b0$</string>
            <key>textureFileName</key>
            <string>fx_BannerDisolveFG_03@4x.png</string>
        </dict>
    </dict>
</plist>
