<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>IconGlow.00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,274},{2,2}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,274},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,4},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,274},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,58},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,274},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,112},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,274},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,166},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,220},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{50,50}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
            <key>IconGlow.00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,274},{2,2}}</string>
                <key>offset</key>
                <string>{-34,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{70,70}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>IconGlow@2x.png</string>
            <key>size</key>
            <string>{328,328}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3952460fcea6ee27bcc01667ae59f4cf:6448515f37ed39ca8210a7c006efbdfc:fc1151233b78caed3fc625adef290f20$</string>
            <key>textureFileName</key>
            <string>IconGlow@2x.png</string>
        </dict>
    </dict>
</plist>
