<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_01.297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,1},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,1},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,1},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,157},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,157},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,157},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,313},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,313},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,313},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,469},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,469},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,469},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,625},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,625},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,625},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{1,781},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{310,781},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{307,154}</string>
                <key>spriteSourceSize</key>
                <string>{307,154}</string>
                <key>textureRect</key>
                <string>{{619,781},{307,154}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning@4x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c28b1c37c3acd96de64acfede1f8848e:6c7d7f1d3ee9d8677f0cea0ee59d7fc2:2ec42f6efcac5e429bb460255b1e2f6a$</string>
            <key>textureFileName</key>
            <string>lightning@4x.png</string>
        </dict>
    </dict>
</plist>
