<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_01.297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,1},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,1},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,1},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,41},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,41},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,41},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,81},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,81},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,81},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,121},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,121},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,121},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,161},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,161},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,161},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{1,201},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{80,201},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{77,38}</string>
                <key>spriteSourceSize</key>
                <string>{77,38}</string>
                <key>textureRect</key>
                <string>{{159,201},{77,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:66e810a2c585a6a39d1cc07281c8f9a1:6c7d7f1d3ee9d8677f0cea0ee59d7fc2:1446c58be034ff650ca9169a31662b4d$</string>
            <key>textureFileName</key>
            <string>lightning.png</string>
        </dict>
    </dict>
</plist>
