<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lightning_01.297.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,1},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.298.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,1},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.299.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,1},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,80},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.301.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,80},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.302.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,80},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.303.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,159},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.304.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,159},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.305.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,159},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.306.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,238},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.307.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,238},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.308.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,238},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.309.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,317},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.310.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,317},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.311.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,317},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.312.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{1,396},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.313.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{157,396},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lightning_01.314.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{154,77}</string>
                <key>spriteSourceSize</key>
                <string>{154,77}</string>
                <key>textureRect</key>
                <string>{{313,396},{154,77}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>lightning@2x.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:132a739496b498e899b694a32dc2e354:6c7d7f1d3ee9d8677f0cea0ee59d7fc2:65d54a4cc747333cd66d59061e4b33e8$</string>
            <key>textureFileName</key>
            <string>lightning@2x.png</string>
        </dict>
    </dict>
</plist>
