<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Nux_FingerRipple.00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,196},{2,2}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,29},{2,2}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,188},{6,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,27},{6,6}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{12,12}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,24},{12,12}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,116},{17,18}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,21},{17,18}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,168},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,19},{22,22}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,168},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,16},{28,28}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,162},{33,34}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,13},{33,34}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,162},{39,38}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,11},{39,38}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,116},{44,44}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{44,44}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,64},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,2},{55,56}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,116},{50,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{50,50}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,59},{55,56}}</string>
                <key>offset</key>
                <string>{-0.5,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{55,56}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
            <key>Nux_FingerRipple.00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{60,60}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{60,60}}</string>
                <key>sourceSize</key>
                <string>{60,60}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Nux_FingerRipple.png</string>
            <key>size</key>
            <string>{202,202}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2987a318a912cee6f4f433c67e99bac1:f2aa052fb56421cc33051aefef768a5b:3ad3eafa88001e74c099a967e2073cfe$</string>
            <key>textureFileName</key>
            <string>Nux_FingerRipple.png</string>
        </dict>
    </dict>
</plist>
