<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smokeWipe.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,1},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,1},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,1},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,1},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,51},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,51},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,51},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,51},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,101},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,101},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,101},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,101},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,151},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,151},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,151},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,151},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,201},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,201},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,201},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,201},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,251},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,251},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,251},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,251},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,301},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,301},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,301},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,301},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,351},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{126,351},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{251,351},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{376,351},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{123,48}</string>
                <key>spriteSourceSize</key>
                <string>{123,48}</string>
                <key>textureRect</key>
                <string>{{1,401},{123,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smokeWipe.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6edc7e32d338a1501ccc62dc502de044:5dd95f0f0b5c420af26133c9894ac8fd:5d0c53079aca6ec1a01b64e4d7e58e1c$</string>
            <key>textureFileName</key>
            <string>smokeWipe.png</string>
        </dict>
    </dict>
</plist>
