<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smokey02.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,1},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,32},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,63},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,94},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,125},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{218,156},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{1,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{32,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{63,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{94,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{125,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{156,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokey02.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,29}</string>
                <key>spriteSourceSize</key>
                <string>{29,29}</string>
                <key>textureRect</key>
                <string>{{187,187},{29,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smokey02.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:96724ad5077c13faa810a3aa1c17f1ef:3b2cd287f89067f15141bb8d546b42ee:e1d6e3d5bf9aa38a7e8cc70a3fdf9e4c$</string>
            <key>textureFileName</key>
            <string>smokey02.png</string>
        </dict>
    </dict>
</plist>
