<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smokeWipe.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,1},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,1},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,1},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,601},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,601},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,601},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,601},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,801},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,801},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,801},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,801},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1001},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,1001},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,1001},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,1001},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,1201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,1201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,1201},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{510,1401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1019,1401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1528,1401},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{507,198}</string>
                <key>spriteSourceSize</key>
                <string>{507,198}</string>
                <key>textureRect</key>
                <string>{{1,1601},{507,198}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smokeWipe@4x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37cdcf21fd4a69bf81efbb9495a3d553:5dd95f0f0b5c420af26133c9894ac8fd:3ed2834f8fd217322eb141b92dc1225a$</string>
            <key>textureFileName</key>
            <string>smokeWipe@4x.png</string>
        </dict>
    </dict>
</plist>
