<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>smokeWipe.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,1},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,1},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,1},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,1},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,102},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,102},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,102},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,102},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,203},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,203},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,203},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,203},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,304},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,304},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,304},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,304},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,405},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,405},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,405},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,405},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,506},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,506},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,506},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,506},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,607},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,607},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,607},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,607},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,708},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{256,708},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{511,708},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{766,708},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>smokeWipe.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{253,99}</string>
                <key>spriteSourceSize</key>
                <string>{253,99}</string>
                <key>textureRect</key>
                <string>{{1,809},{253,99}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>smokeWipe@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3654d76e3f10a8f0ec1d1ab427c090db:5dd95f0f0b5c420af26133c9894ac8fd:ae37d0a848a92fa6814b0be66f93caad$</string>
            <key>textureFileName</key>
            <string>smokeWipe@2x.png</string>
        </dict>
    </dict>
</plist>
