<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>star_sparkles0001.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0002.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{65,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0003.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{129,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0004.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{193,1},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0005.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1,65},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0006.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{65,65},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0007.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{129,65},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0008.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{193,65},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0009.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1,129},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{65,129},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0011.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{129,129},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0012.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{193,129},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>star_sparkles0013.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{62,62}</string>
                <key>spriteSourceSize</key>
                <string>{62,62}</string>
                <key>textureRect</key>
                <string>{{1,193},{62,62}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starSparkles.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71f39a17762adde22f07d9a37c2ae6d8:417b10124a798c1d43f2868b5c6ab3c1:f5086fe30a6156cf19d340fbbe79d285$</string>
            <key>textureFileName</key>
            <string>starSparkles.png</string>
        </dict>
    </dict>
</plist>
