<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starSuck.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{169,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{337,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{505,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{673,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{841,1},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{169,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{337,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{505,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{673,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{841,169},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{169,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{337,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{505,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{673,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{841,337},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{169,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{337,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{505,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{673,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{841,505},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{1,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{169,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{337,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{505,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{673,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,166}</string>
                <key>spriteSourceSize</key>
                <string>{166,166}</string>
                <key>textureRect</key>
                <string>{{841,673},{166,166}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starSuck@2x.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7ffb4ce71641ca90178ed50f124ece:34063e6a876481bfbc85e637f5586e7b:35eb0847608e107883c2878351bc0f64$</string>
            <key>textureFileName</key>
            <string>starSuck@2x.png</string>
        </dict>
    </dict>
</plist>
