<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>starSuck.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{341,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{681,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1021,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1361,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1701,1},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{341,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{681,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1021,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1361,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1701,341},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{341,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{681,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1021,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1361,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1701,681},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{341,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{681,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1021,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1361,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1701,1021},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{341,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{681,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1021,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1361,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>starSuck.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{338,338}</string>
                <key>spriteSourceSize</key>
                <string>{338,338}</string>
                <key>textureRect</key>
                <string>{{1701,1361},{338,338}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>starSuck@4x.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:109bc7d6aaa6c94c7385e8e422243531:34063e6a876481bfbc85e637f5586e7b:01bc5bf44191a459244a48968905d79a$</string>
            <key>textureFileName</key>
            <string>starSuck@4x.png</string>
        </dict>
    </dict>
</plist>
