<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swirlies.00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,192},{8,8}}</string>
                <key>offset</key>
                <string>{-19.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,48},{8,8}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,412},{8,24}}</string>
                <key>offset</key>
                <string>{-19.5,12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{8,24}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,412},{8,36}}</string>
                <key>offset</key>
                <string>{-19.5,6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{8,36}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,148},{12,36}}</string>
                <key>offset</key>
                <string>{-17.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,32},{12,36}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,448},{16,36}}</string>
                <key>offset</key>
                <string>{-15.5,6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,32},{16,36}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,496},{24,48}}</string>
                <key>offset</key>
                <string>{-11.5,12.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{24,48}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,456},{28,52}}</string>
                <key>offset</key>
                <string>{-9.5,10.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,20},{28,52}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,104},{36,64}}</string>
                <key>offset</key>
                <string>{-5.5,8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{36,64}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,8},{40,64}}</string>
                <key>offset</key>
                <string>{-3.5,8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{40,64}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,56},{40,64}}</string>
                <key>offset</key>
                <string>{-3.5,8.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,16},{40,64}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,232},{44,68}}</string>
                <key>offset</key>
                <string>{-1.5,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,68}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,448},{44,72}}</string>
                <key>offset</key>
                <string>{-1.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,72}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,376},{44,72}}</string>
                <key>offset</key>
                <string>{-1.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,72}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,440},{44,72}}</string>
                <key>offset</key>
                <string>{-1.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,72}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,428},{44,72}}</string>
                <key>offset</key>
                <string>{-1.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,72}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,428},{44,72}}</string>
                <key>offset</key>
                <string>{-1.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,72}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{456,148},{44,76}}</string>
                <key>offset</key>
                <string>{-1.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,76}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,292},{44,76}}</string>
                <key>offset</key>
                <string>{-1.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{44,76}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,108},{48,84}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,308},{48,84}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,12},{48,84}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,316},{48,88}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,88}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,328},{48,92}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,92}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,216},{48,92}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,92}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,8},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,344},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,472},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,6.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,120},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,248},{48,104}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,104}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,8},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,336},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,112},{48,92}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,92}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,224},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,112},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,236},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,8},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,124},{48,104}}</string>
                <key>offset</key>
                <string>{0.5,0.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,104}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,132},{48,108}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,108}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,8},{48,116}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,116}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,132},{48,116}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,116}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,8},{48,116}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,116}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,256},{48,116}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,116}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,8},{48,108}}</string>
                <key>offset</key>
                <string>{0.5,-1.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,4},{48,108}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{8,380},{48,108}}</string>
                <key>offset</key>
                <string>{0.5,2.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,108}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,8},{48,104}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,104}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,360},{48,104}}</string>
                <key>offset</key>
                <string>{0.5,4.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,104}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,228},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,116},{48,100}}</string>
                <key>offset</key>
                <string>{0.5,6.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,100}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,8},{48,96}}</string>
                <key>offset</key>
                <string>{0.5,8.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,96}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,8},{48,92}}</string>
                <key>offset</key>
                <string>{0.5,10.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,92}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,212},{48,88}}</string>
                <key>offset</key>
                <string>{0.5,12.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,88}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,200},{48,84}}</string>
                <key>offset</key>
                <string>{0.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{8,0},{48,84}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,444},{44,76}}</string>
                <key>offset</key>
                <string>{2.5,14.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{44,76}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,308},{44,68}}</string>
                <key>offset</key>
                <string>{2.5,14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,8},{44,68}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,360},{36,68}}</string>
                <key>offset</key>
                <string>{2.5,14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,8},{36,68}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,404},{32,60}}</string>
                <key>offset</key>
                <string>{4.5,14.5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{20,12},{32,60}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
            <key>Swirlies.00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,428},{4,4}}</string>
                <key>offset</key>
                <string>{-29.5,54.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{4,4}}</string>
                <key>sourceSize</key>
                <string>{63,113}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Swirlies@2x.png</string>
            <key>size</key>
            <string>{528,528}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a98169f22660d6c87051237d8b6aca5:fb99f9a874a1fc535547379a65ad7d37:bd8e25f01caeb5dcd4cf40ed05cdc82b$</string>
            <key>textureFileName</key>
            <string>Swirlies@2x.png</string>
        </dict>
    </dict>
</plist>
