<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Swirlies.00000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,96},{4,4}}</string>
                <key>offset</key>
                <string>{-9.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,24},{4,4}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00001.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,206},{4,12}}</string>
                <key>offset</key>
                <string>{-9.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{4,12}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00002.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,206},{4,18}}</string>
                <key>offset</key>
                <string>{-9.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{4,18}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,74},{6,18}}</string>
                <key>offset</key>
                <string>{-8.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,16},{6,18}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,224},{8,18}}</string>
                <key>offset</key>
                <string>{-7.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,16},{8,18}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00005.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,248},{12,24}}</string>
                <key>offset</key>
                <string>{-5.5,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{12,24}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00006.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,228},{14,26}}</string>
                <key>offset</key>
                <string>{-4.5,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,10},{14,26}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00007.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,52},{18,32}}</string>
                <key>offset</key>
                <string>{-2.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{18,32}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00008.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,4},{20,32}}</string>
                <key>offset</key>
                <string>{-1.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{20,32}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00009.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,28},{20,32}}</string>
                <key>offset</key>
                <string>{-1.5,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,8},{20,32}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00010.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,116},{22,34}}</string>
                <key>offset</key>
                <string>{-0.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,34}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00011.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,224},{22,36}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,36}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00012.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,188},{22,36}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,36}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00013.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,220},{22,36}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,36}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00014.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,214},{22,36}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,36}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00015.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,214},{22,36}}</string>
                <key>offset</key>
                <string>{-0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,36}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00016.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,74},{22,38}}</string>
                <key>offset</key>
                <string>{-0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00017.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,146},{22,38}}</string>
                <key>offset</key>
                <string>{-0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{22,38}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00018.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,54},{24,42}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{24,42}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00019.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,154},{24,42}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,6},{24,42}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00020.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,158},{24,44}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,44}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00021.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,164},{24,46}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,46}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00022.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,108},{24,46}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,46}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00023.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,4},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00024.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,172},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00025.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,236},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00026.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,60},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00027.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,124},{24,52}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00028.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,4},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00029.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,168},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00030.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,56},{24,46}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,46}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00031.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,112},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00032.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,56},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00033.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,118},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,4},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00034.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,62},{24,52}}</string>
                <key>offset</key>
                <string>{0.5,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,52}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00035.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,66},{24,54}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00036.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,4},{24,58}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00037.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,66},{24,58}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00038.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,4},{24,58}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00039.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,128},{24,58}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,58}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00040.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,4},{24,54}}</string>
                <key>offset</key>
                <string>{0.5,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,2},{24,54}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00041.png</key>
            <dict>
                <key>frame</key>
                <string>{{4,190},{24,54}}</string>
                <key>offset</key>
                <string>{0.5,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,54}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00042.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,4},{24,52}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00043.png</key>
            <dict>
                <key>frame</key>
                <string>{{32,180},{24,52}}</string>
                <key>offset</key>
                <string>{0.5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,52}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00044.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,114},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00045.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,58},{24,50}}</string>
                <key>offset</key>
                <string>{0.5,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,50}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00046.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,4},{24,48}}</string>
                <key>offset</key>
                <string>{0.5,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,48}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00047.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,4},{24,46}}</string>
                <key>offset</key>
                <string>{0.5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,46}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00048.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,106},{24,44}}</string>
                <key>offset</key>
                <string>{0.5,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,44}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00049.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,100},{24,42}}</string>
                <key>offset</key>
                <string>{0.5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,0},{24,42}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00050.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,222},{22,38}}</string>
                <key>offset</key>
                <string>{1.5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{22,38}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00051.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,154},{22,34}}</string>
                <key>offset</key>
                <string>{1.5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,4},{22,34}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00052.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,180},{18,34}}</string>
                <key>offset</key>
                <string>{1.5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,4},{18,34}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00053.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,202},{16,30}}</string>
                <key>offset</key>
                <string>{2.5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{10,6},{16,30}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
            <key>Swirlies.00054.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,214},{2,2}}</string>
                <key>offset</key>
                <string>{-14.5,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{2,2}}</string>
                <key>sourceSize</key>
                <string>{31,56}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>Swirlies.png</string>
            <key>size</key>
            <string>{264,264}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3a98169f22660d6c87051237d8b6aca5:fb99f9a874a1fc535547379a65ad7d37:bd8e25f01caeb5dcd4cf40ed05cdc82b$</string>
            <key>textureFileName</key>
            <string>Swirlies.png</string>
        </dict>
    </dict>
</plist>
