<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lines_02.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,1},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,1},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,1},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,1},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,18},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,18},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,18},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,18},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,35},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,35},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,35},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,35},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,52},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,52},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,52},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,52},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,69},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,69},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,69},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,69},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,86},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,86},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,86},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,86},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,103},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,103},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,103},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,103},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,120},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,120},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,120},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,120},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,137},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,137},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,137},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,137},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,154},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,154},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,154},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,154},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,171},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,171},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,171},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,171},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,188},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,188},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,188},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,188},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,205},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,205},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,205},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,205},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,222},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,222},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,222},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,222},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{1,239},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{54,239},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{107,239},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_02.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,15}</string>
                <key>spriteSourceSize</key>
                <string>{51,15}</string>
                <key>textureRect</key>
                <string>{{160,239},{51,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wiggly02@2x.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b63a9cbeb6f399639b9b3a223fed58ac:ff8a9624ee14eaefdc9f2530708381a1:719cecbd7be4897b183eec48df1b0dc4$</string>
            <key>textureFileName</key>
            <string>wiggly02@2x.png</string>
        </dict>
    </dict>
</plist>
