<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>lines_01.00.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,1},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,1},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,1},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,1},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,35},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.05.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,35},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.06.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,35},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.07.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,35},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.08.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,69},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.09.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,69},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,69},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,69},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,103},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.13.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,103},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.14.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,103},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.15.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,103},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.16.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,137},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.17.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,137},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.18.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,137},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.19.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,137},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.20.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,171},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.21.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,171},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.22.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,171},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.23.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,171},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.24.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,205},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.25.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,205},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.26.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,205},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.27.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,205},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.28.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,239},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.29.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,239},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.30.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,239},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.31.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,239},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.32.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,273},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.33.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,273},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.34.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,273},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.35.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,273},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.36.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,307},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.37.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,307},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.38.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,307},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.39.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,307},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.40.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,341},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.41.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,341},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.42.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,341},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.43.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,341},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.44.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,375},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.45.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,375},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.46.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,375},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.47.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,375},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.48.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,409},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.49.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,409},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.50.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,409},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.51.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,409},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.52.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,443},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.53.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,443},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.54.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,443},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.55.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,443},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.56.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{1,477},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.57.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{111,477},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.58.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{221,477},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lines_01.59.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,32}</string>
                <key>spriteSourceSize</key>
                <string>{108,32}</string>
                <key>textureRect</key>
                <string>{{331,477},{108,32}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>wiggly@4x.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a7a97851e41073e5619e472e82a5a2f0:445c913a5da55c175a76658620317d88:14d5391c20137011004ffe84de831b71$</string>
            <key>textureFileName</key>
            <string>wiggly@4x.png</string>
        </dict>
    </dict>
</plist>
